@import url(resets.css);

:root{
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #CDCDCD;
    --roxo-claro: #CDB4DB;
    --roxo-escuro: #522E93;
    --fonte: 'Arial';
}

.container{
    align-items: center;
    margin: 100px 0px;
}

.calculadora{
    display: grid;
    place-items: center;
    border-radius: 5px;
    text-align: center;
    font-size: 1.75em;
    background-color: var(--branco);
    color: var(--preto);
    font-family: var(--fonte);
    font-weight: 500;
}

.resultado{
    border-radius: 20px;
}

.resultado-input{
    padding: 40px 30px;
    text-align: right;
    border-radius: 5px;
    font-size: 2em;
    background-color: var(--preto);
    color: var(--branco);
    border: 2px solid var(--cinza) ;
}

.teclas{
    padding: 35px 35px;
    border: 1px solid var(--cinza);
    border-radius: 5px;
}

.teclas:hover{
    background-color: var(--roxo-claro);
}

.igual, .operacao{
    background-color: var(--roxo-escuro);
    color: var(--branco);
}

.opcoes{
    background-color: var(--cinza);
    color: var(--preto);
}

.teclas:active, .clear:active,.igual:active{
    background-color: var(--cinza);
    color: var(--preto);
}

